.header {
  position: absolute;
  width: 100%;
}

.hero {
  background-image: url("./hero.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 115%;
  background-size: 50%;
}

.below-fold {
  background-color: hsla(0, 0%, 75%, 0.35);
}

.cyan-btn {
  background-color: hsl(180, 66%, 49%);
  color: white;
  font-weight: 700;
  outline: none;
  border-color: hsl(180, 66%, 49%);
  border-style: solid;
  transition: 0.2s;
}

.cyan-btn:hover {
  opacity: 0.85;
}
.mobile-lock {
  display: none;
}
@media screen and (max-width: 767px) {
  .hero {
    background-size: 0 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: landscape) {
  .mobile-lock {
    display: flex;
    background-color: hsl(180, 66%, 49%);
    height: 100vh;
    width: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
  }
  .mobile-lock > .text{
    display: inline-flex;
    font-size: 20rem;
    font-weight: 500;
    color: white;
  }
}
